/*
Document   : display
Created on : 01-Jan-2013, 20:50:55
Author     : pricet
Description:
Purpose of the stylesheet follows.
*/

/*
TODO customize this sample style
Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

@import "compass";

root {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

body {
  background-color: #ffffff; // Old browsers
  @include filter-gradient(#ffffff, #e5e5e5, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center, ellipse cover, #ffffff 0%,#e5e5e5 100%));
}

$left: 10%;
$left-width: 60%;
$gap: 5%;
$right-width: 100% - $left - $left-width - $gap;
$top: 5em;
$radius: 1.5em;
$weather: 5.5em;

$white: #fff;

.wrapper {
  height: 100%;
  width: 100%;
}

.column {
  position: relative;
  height: 100%;
}

#ticker {
  height: $top;
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  @include filter-gradient(#000000, #45484d, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(69, 72, 77, 1) 100%));
  @include border-radius(0 0 0 $radius);
  padding-top: $top/10;
  margin-top: -$top/10;
  color: $white;

  .content {
    margin: 0.1em 0.8em;
    font-size: 2em;
    line-height: 1.1em;
  }
}

#clock {
  height: $top;
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  @include filter-gradient(#000000, #45484d, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(69, 72, 77, 1) 100%));
  @include border-radius(0 0 $radius 0);
  color: $white;
  .box {
    padding-top: $top / 6;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
  }

  #date {
    letter-spacing: 3px;
  }

  #time {
    letter-spacing: 5px;
  }
}

#bar {
  position: absolute;
  z-index: 1;
  top: $top;
  bottom: 0;
  right: $radius;
  left: $radius;
  background: transparent;

  #img {
    height: 100%;
    width: 100%;
    /* WebKit (Chrome & Safari) */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* IE */
    display: -ms-box;
    -ms-box-pack: center;
    -ms-box-align: center;

    /* Native CSS */
    display: box;
    box-pack: center;
    box-align: center;
    padding-bottom: $top;

    .content {
      max-height: 100%;
      max-width: 100%;

      padding: 1em 1em 2em;

      img, video {
        max-width: 100%;
        max-height: 90%;
      }
    }
  }
}

#text {
  position: absolute;
  z-index: 1;
  top: $top;
  right: $radius;
  left: 0;
  bottom: $weather;
  .content {
    position: absolute;
    font-size: 1.5em;
    line-height: 1.1em;
    text-align: justify;
  }
}

#weather {
  position: absolute;
  height: $weather;
  width: auto;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: $white;

  @include filter-gradient(#000000, #45484d, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(69, 72, 77, 1) 100%));
  @include border-radius(0 $radius 0 0);

  padding-top: $radius/2;
  padding-left: $radius/4;
  margin-bottom: -$radius/2;

  .city {
    font-size: 2em;
    display: block;
  }

  .curr_text {
    display: block;
    font-size: 1.3em;
  }

  .curr_temp {
    font-weight: bold;
  }

  .curr_temp, .curr_real {
    border-right: 0.15em solid $white;
    margin-right: 0.2em;
  }

  .curr_temp, .curr_real, .curr_humid {
    font-size: 1.2em;
  }

  .curr_icon {
    margin-top: -$weather;
    img {
      max-height: 100%;
      float: right;
    }
  }
}